<%include ./template/header.ejs%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content-message">
                    <div class="search" style="padding-bottom: 10px;">
                        <form action="#" method="post" style="text-align: center;">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <input type="text" class="form-control" name="Khoá" id="" placeholder="Khoá">
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <input type="text" class="form-control" name="" id="" placeholder="Lớp">
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <input type="text" class="form-control" name="" id="" placeholder="Tên">
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <input type="text" class="form-control" name="" id="" placeholder="MSSV">
                                    </div>
                                    <div class="col-md-2 col-">
                                        <a href=""><i class="glyphicon glyphicon-search" style="padding: 15px;"></i></a>
                                        <button type="button" class="btn btn-primary">import&nbsp;<i class="fa fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive-md container-table100">
                        <table class="table table-bordered text-nowrap" style="border: 2px solid #dee2e6 ; text-align: center">
                            <thead style="border: 2px solid #dee2e6 ;" class=" text-success; ">
                                <tr id="thead">
                                    <th class="">#</th>
                                    <th>Mã SV</th>
                                    <th>Họ và Tên</th>
                                    <th>Lớp Khoá Học</th>
                                    <th>Ngày Sinh</th>
                                    <th>Quê Quán</th>
                                    <th>Số ĐT</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody style="border: 2px solid #dee2e6">
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                                <tr class="cell">
                                    <th scope="row">1</th>
                                    <td class="text-tranform-left">17021134</td>
                                    <td class="text-tranform-left">Đặng Quang Vũ</td>
                                    <td>CQ-J-2017/K62</td>
                                    <td>05/05/1999</td>
                                    <td class="text-tranform-left">Mỹ lộc Nam Định My Hung</td>
                                    <td>0914538726</td>
                                    <td><a href="#"><i class="fa fa-edit text-info"  id="edit" style="cursor: pointer;" ></i></a> <a href="#"><i class="fa fa-trash text-primary" style="cursor: pointer;"  aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-5">
        <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
    </div>




    <%include ./template/footer.ejs%>