<%include ./template/header.ejs%>
    <link rel="stylesheet" href="/stylesheets/subject-manage.css">
    <div class="container-fluid">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
    <%include ./template/footer.ejs%>